:host {
    display: block;
    height: 100%;
}

.profile-window {
    height: 30%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    .profile-photo {
        width: 130px;
        height: 130px;
        background-color: blue;
        border-radius: 50%;
        cursor: pointer;
    }
}

.nav-items {
    height: 70%;
    background-color: gainsboro;
}

video {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 400px;
    height: 400px;
    z-index: 10;
    display: none;
    &.show {
        display: block;
    }
}