<div class="wrapper">
  <div class="side-nav-wrapper">
    <div class="nav-bar">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="dashboard-wrapper">
    <button class="button" (click)="toggleMenu($event)">
      <div>---</div>
      <div>---</div>
      <div>---</div>
    </button>
    <div class="content">
      
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius fugit odio excepturi possimus totam cumque ducimus repellendus? Quod sit voluptatem quis quos sequi quo ratione in dicta obcaecati molestias!

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa deserunt reprehenderit libero necessitatibus quo odio, magni cupiditate sed, aperiam vitae quibusdam voluptatibus hic temporibus nostrum eos reiciendis facilis dignissimos enim?

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ratione facilis velit, voluptatem vero nisi accusamus eveniet molestias? Beatae, veritatis excepturi. Sint voluptatem et cumque totam ratione vitae inventore error?
    </div>
  </div>
</div>